:root{
    --paragraph-color: hsl(220, 15%, 55%);
    --main-bg-color: hsl(212, 45%, 89%);
    --card-color: hsl(0, 0%, 100%);
    --qr-bg-color: hsl(218, 44%, 22%);
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    background-color: var(--main-bg-color);
}

h1{
    font-size: 22px;
}

p{
    font-size: 15px;
    color: var(--paragraph-color);
    margin-top: 15px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 320px;
    border-radius: 20px;
    background-color: var(--card-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.qrImg{
    width: 100%;
    border-radius: 25px;
    padding: 16px;
}

.description{
    margin-top: 4px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.attribution{
    position: absolute;
    bottom: 0;
}